# API Keys and Credentials
credentials/
*.env

# Ignore all .env files
.env*
# Except for .env.example
!.env.example 

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
build/
dist/
*.egg-info/
*.egg

# Database
*.db
*.db-shm
*.db-wal

# OS-specific
.DS_Store 